<html>
  <head>
    <script src="https://cdn.traitify.com/lib/v1.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"></script>
    <script src="scripts.js"></script>
  </head>
  <body>
    <div class="assessment"></div>
    <script>
      Traitify.setPublicKey("fj7c8u03gniql4vh86gpq69mpd");
      Traitify.setHost("https://api-sandbox.traitify.com");
      Traitify.setVersion("v1");
      var assessmentId = '';
      Traitify.ui.load(assessmentId, ".assessment")
    </script>
  </body>
</html>
